<%= form_for(:session, url: login_path) do |f| %>
  <%= f.submit "Begin Meditation", :id => "guest_submit" %>
<% end %>

<div id="medInstruction">
	<p> Mantras work when they become a part of our memory. </p>
	<p> The way to make an attribute a part of who you are is to use auto-suggestion. </p>
	<p> Interactive Meditation uses auto-suggestion and writing to encourage the mantra to plant into your mind. </p>
	<p> Once an idea is implanted, it becomes who and how you are. </p>

</div>