<%= form_for(:session_update, url: update_counter_path, :html => {:id => 'counter_form' }) do |f| %>
<%= f.hidden_field :counter, :id => "tracker" %>
  <% f.submit "New Counter", :id => "update_counter" %>
<% end %>