<%= form_for(:session, url: login_path) do |f| %>
  <%= f.submit "Begin Meditation", :id => "start_med" %>
<% end %>

<div id="medInstruction">
	<p> Mantras are the words we use to describe ourselves. These become 
	a part of our memory, then make us who we bringing everything about them into our lives. Our behaviors and life stories follow the script of what we say to ourselves consciously or unconsciously. </p>
	<p> Mantras allows us to consciously shape our lives around ideals we value. </p>
	<p> Repeating an idea to ourselves also allows the idea to 'stick'. When the idea sticks, it becomes reality. This guided Interactive Meditation uses writing to ensure the mantra becomes strongly connected. Since we remember what we write, this strongly commits ideas to memory and once there, these ideas simply take root and become who and what we shape out to be.  </p>
	<p> All we had to do was say it. </p>

	<p style="font-size:2.0em; border-bottom: 1px solid #A88DA1; width:65%; padding-bottom: 25px; margin: 0 auto;"> how it works </p>
	<p> The meditation you selected will be displayed in the middle of the screen. </p>
	<p>Click to type the meditation 250 times. </p>
	<p> Each meditation session lasts 30 minutes to enhance concentration and keep you relaxed. </p>
</div>