<% provide(:title, "Teacher LogIn")%>
<%= image_tag("yogaIcon.png", :id => "teacher-icon") %>
<div class="teacher_login_box">
<%= form_for(:session, url: teacher_login_path) do |f| %>
<%= f.text_field :yogi, placeholder: "username" %>
<br>
<%= f.password_field :password, placeholder: "password" %>
<br>
<%= f.submit "LogIn" %>
</div>

<% end %>