<% provide(:title, "Home")%>
<div id="home-content">

<% if session[:status].nil? %>

<div id="home-icon">
	<%= image_tag("yogaLogo-01.png", :id => 'home-logo' )%>
	<%= image_tag("yogaIcon.png", :id => "home-Icon") %>
</div> 

<div id="home-thoughts">
<p class="words"> we become what we think </p>
<p class="home-pg">The thoughts we habitually think about are the experiences that show up in our lives. These thoughts are who we become or the reality we experience.</p>
<p class="home-pg home-pg-two">The mind can be trained to default to good thoughts through repetition, auto-suggestion or mantra.
 Teaching the mind to respond with a good thought when prompted helps direct it towards a good life experience. 
 Conscious, transcendental meditation or auto-suggestion are the best way to direct the mind towards becoming the affirmations that inspire our best.</p>
</div>


<div id="home-login">
<div id="works">
	<p>?</p>
</div>

<div id="attributes">
		<h4> How It Works </h4>
		<p> 1. Start by selecting a mantra to attach to yourself. Remember that the definitions we attach to ourselves and the world around us are what become of us and what we experience. </p>
		<p> 2. Begin the 50 minute meditation session, where you will be prompted to write the idea 250 times. </p>
		 <p>3. Repeat as needed or until the mantra becomes part of your subconscious. </p>
</div>

<%= image_tag("icon-01.png", :id => "about") %>

<div id="med-tips">
	<h4> Repetition creates habit. We become our habits. </h4>
	<p> A wonderful life depends on the words we use to describe ourselves and our lives.</p>
	<p> It is created by good words. We become and experience what we say about ourselves and our lives.</p>
	<p> This app is a way to get into the habit of saying great things about ourselves, to become the best we are and experience the best lives we can live. </p>
</div>

	<div id="instructions">
		<p> Select A Mantra <span style="font-size: 0.45em; padding:0; margin: 0;"> to begin </span></p>

	</div>

		<div class="home-access" id="qa">
		<%= render 'mantras/all_mantra' %>
	</div>


	<div id="charge">
		<%= render 'charges/charges' %>
	</div>

	<div class="home-access" id="login">
		<%= render 'sessions/login' %>
	</div>


</div>



</div>

<footer>
<p class="footer-opts"> Conscious Meditation </p>
</footer>



<% else %>

	<div class="timer">
<p> Your Session Expires at </p>
<p> <%= time_split %> </p> 
</div>

	<%= image_tag("yogaIcon.png", :id => "home-Icon") %>
	 <%= link_to "Continue Your Session",  meditation_path, :id => "sesh" %>

<% end %>


