<%= form_for :mantra, url: add_mantra_path do |f| %>
<p><%= f.text_field :mantra, :required => true, :placeholder => "Mantra" %></p>
<p><%= f.text_field :phrase, :required => true, :placeholder => "Phrase" %></p>

<%= f.submit " Mantra" %>
<% end %>