<% if @mantras.count > 0 %>
<% @mantras.each do |m| %>
	<div class="mantra-display">
	<p class="mantra-words" id=<%= "#{m.id}"%>>.<%= m.mantra %> </p> 
	</div>

	<div class="mantra-tag" id=<%= "mantra_#{m.id}" %>><%= m.phrase %></div>
<% end %>
<% end %>