<% @mantras.each do |m| %>
	<p class="teacher-mantra"> Mantra : <%= m.mantra %> <br>Phrase : <%= m.phrase %> <%= link_to "Edit" , edit_mantra_path(m) , :class => 'teacher_bttns'%> <%= link_to 'Remove', mantra_path(m),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => 'teacher_bttns' %> </p> 
<% end %>