<div class="timer">
<p> YOUR SESSION EXPIRES AT 
<br> <%= time_split %> </p> 
</div>

<% @active_mantra = Mantra.find_by(id: get_mantra) %>

		<p id="set_counter" style="display:none;"><%= @counter = get_tracker %></p>
		<p class="mantra_counter" id="counter"> <%= @counter %> / 250  </p>
		<p class="mantra-instruct"> Relax. Click the mantra below to begin.Type the mantra as it appears. Do this (x250) for a successful session. </p>
		<%= render 'sessions/update_counter' %>

	<textarea class="mantras" id="bg_mantra" readonly><%= @active_mantra.phrase %></textarea>
	<textarea class="mantras" id="type_mantra"> </textarea>
	<p class="mini-mantra"> MANTRA <br> <%= @active_mantra.phrase %></p>


<div id="completed">
	<p> Congratulations. </p>
	<p> Your session is now complete</p>
	<%= link_to image_tag("yogaIcon.png"), root_url %>
</div>