<%= form_for :yogi, url: teachers_path do |f| %>
<p><%= f.text_field :yogi, :required => true , :placeholder => "yoginame"%></p>
<p><%= f.password_field :password, :required => true, :placeholder => "password" %></p>
<p><%= f.password_field :password_confirmation, :required => true, :placeholder => "password confirmation" %></p>
<%= f.submit "Hello Yogi" %>
<% end %>