<% provide(:title, "Yogi Page")%>
<div id="yogi_page">
	<div class="teacher-content-mantras">
		<p style="color: #5C99B9; font-size:2.5em;"> all mantras </p>
		<p> <%= render 'mantras/list_all' %> </p>
	</div>

	<div class="teacher-content">
		<p style="color: #5C99B9; font-size:1.5em;">> Add Mantra </p>
		<p> <%= render 'mantras/add_mantra' %> </p>
	</div>

	<div class="teacher-content add-teacher">
		<p style="color: #5C99B9; font-size:1.5em;">> Add Teacher </p>
		<p> <%= render 'teachers/add_yogi' %> </p>
	</div>

<%= link_to "Log out", logout_path, method: :delete, :class=> 'teacher_bttns logout-teacher' %>
</div>