// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	footer{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #F5E6F1;
		height: 85px;
	}

	#home-logo{
		position:fixed;
		left: 15px;
		top: 10px;
	}

	#home-Icon{
		position: fixed;
		left: 12%;
		top: 27%;
		width: 429px;
		height: 388px;
	}
	p{
	font-family: 'Open Sans', sans-serif;
	}

	#home-icon{
		position: fixed;
		left: 0px;
	}
	#home-thoughts{
		position: fixed;
		right: 0;
		width: 45%;
		height: 100%;
	}

	.words{
	padding-top: 150px;
		font-size: 6em;
		color: #5C99B9;
		text-align: center;
	}
	.footer-opts{
		color: #A88DA1;
		text-align: center;
		cursor: pointer;
	}

	#home-login{
	display: none;
	margin: auto 0;
	width: 75%;
	}

	.home-access{
		width: 80%;
		position: fixed;
		left: 5px;
		top:15%;
		height: 90%;
		overflow: auto;
		display: none;
	}

	::-webkit-scrollbar{
		width: 20px;
	}

	::-webkit-scrollbar-track{
		box-shadow: inset 0 0 5px white;
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb{
		background: rgba( 242, 180, 150, 0.90);
		border-radius: 5px;
		height: 40px;
	}

	::-webkit-scrollbar-thumb:hover{
		background: rgba( 242, 180, 150, 0.50);
	}

	.user-access{
		font-size: 4.0em;
		color: #5C99B9;
		position: fixed;
		left: 20%;
		cursor: pointer;
		display: none;
	}

	#homeSignUp{
		left: 19%;
		top: 30%;
		cursor: pointer;
	}

	#homeLogIn{
		top: 45%;
		cursor: pointer;
	}

	#homeQuickAccess{
		top: 15%;
		left: 14%;
		cursour: pointer;
	}

	#qa{
	display: block;
	}

	#attributes{
		color: #5C99B9;
		width: 415px;
		text-align: center;
		position: fixed;
		left: 45%;
		top: 20%;
		font-size: 0.95em;
		border: 1px solid #f2b496;
		background-color: rgba( 255, 255, 255, 0.95);
		padding-left: 55px;
		padding-right: 55px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 5px;
		display: none;
		z-index: 5;
	}

	#attributes p{
		padding-bottom: 5px;
	}

	.mantras{
		color: #5C99B9;
		font-size: 7.5em;
		cursor: pointer;
		text-align: center;
	}

	.mantra-words{
		color: #5C99B9;
		font-size: 3.5em;
		cursor: pointer;
		display: inline-block;
		padding-left: 35px;
	}

	#charge{
		display: none;
		background-color: rgba( 255, 255, 255, 0.20);
		#border: 1px solid #5c99b9;
		width: 170px;
		height: 130px;
		border-radius: 10px;
		position: absolute;
		left: 45%;
		top: 10%;
		padding-left: 35px;
		box-shadow: 0 12px 16px 0 rgba(84,107,117,0.10), 0 17px 50px 0 rgba(211,224,229,0.09);
	}

	.mantra_counter{
		color: #F2B383;
		text-align: center;
		padding: 5px;
		margin: 0;
		margin-top: 120px;
		font-size: 4.5em;
	}

	textarea{
		overflow: hidden;
		border: none;
		outline: none;
		position: fixed;
		left: 10%;

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		position: absolute;
		background: transparent;
		autocomplete: off;
	}

	#completed{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba( 255, 255, 255, 0.95);
		cursor: pointer;
		z-index: 2;
		text-align: center;
		display: none;

	}

	#completed p{
		color: #D0108C; 
		font-size: 3.5em;
	}

	.timer{
		width: 185px;
		height: 90px;
		text-align: center;
		position: fixed;
		top: 5px;
		left: 45%;
		background-color: white;
		color: #D0108C;
		border-radius: 5px;
		border: 1px solid #F5E6F1;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.10), 0 17px 50px 0 rgba(0,0,0,0.10);
  		background-color: #F5E6F1;
	}

	#instructions{
		font-size: 2.5em;
		color: #F2B496;
		position: fixed;
		left: 15px;
		border-bottom: 1px solid #f2b496;
		width: 480px;
	}

	#works{
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: #f2b496;
		position: fixed;
		right: 5px;
		top: 5px;
		text-align: center;
		color: white;
		cursor: pointer;

	}

	#works p{
		font-size: 1.2em;
		font-weight: bold;
	}
	#sesh{
		text-decoration: none;
		border: none;
		border-radius: 2px;
		padding: 20px;
		/*color: #D0108C;*/
		color: #5C99B9;
		background-color: white;
		
		/*background-color: #F5E6F1;*/
		position: fixed;
		top: 45%;
		right:25%;
		font-size: 1.5em;
		cursor: pointer;
		font-family: 'Open Sans', sans-serif;
	}

	a:hover, a:active{
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.10), 0 17px 50px 0 rgba(0,0,0,0.10);
  		background-color: #F5E6F1;
  		color: #D0108C;
	}
	

	.alert-danger, .alert-error{
		background-color: #ff000017;
    	z-index: 50;
    	color: red;
    	position: fixed;
    	top: 15px;
    	padding: 14px;
    	border-radius: 5px;
    	width: 100%;
    	left: 0;
    	text-align: center;
	}

	.alert-success{
		background-color:#ff00e02e;
    	z-index: 50;
    	color: #b462b5;
    	position: fixed;
    	top: 15px;
    	padding: 14px;
    	border-radius: 5px;
    	width: 100%;
    	left: 0;
    	text-align: center;
	}

		.mini-mantra{
		display: inline-block;
		color: #5C99B9;
		font-size: 0.85em;
		position: fixed;
		padding: 25px 15px;
		bottom: 10%;
		left: 45%;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.10), 0 17px 50px 0 rgba(0,0,0,0.10);
  background-color: white;
	}

	.mantra-tag{
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.12), 0 17px 50px 0 rgba(0,0,0,0.05);
  		background-color: rgba( 255, 255, 255, 0.35);
  		width: 270px;
  		padding: 20px 15px;
  		font-family: 'Open Sans', sans-serif;
  		color: #5C99B9;
  		position: fixed;
  		right: 25%;
  		top: 15%;
  		z-index: 10;
  		display: none;
  		
  		

	}

	.mantra-display{
		display: inline-block;
		margin-left: 25px;
	}

	.home-pg{
		width: 450px; 
		text-align: center; 
		color: #5c99b9; 
		position: fixed; 
		bottom: 35%; 
		right: 10%;
		font-size: 0.95em;
	}
	.home-pg-two{
		bottom: 22%;
		font-size: 0.90em;
	}

	#med-tips{
		width: 200px;
		height: 550px;
		border: 1px solid #5c99b9;
		background-color: rgba ( 255, 255, 255, 0.75);
		position: fixed;
		right: 5px;
		top: 85px;
		padding: 15px 25px;
		color: #5c99b9;
		z-index: 10;
		display: none;
	}

	#about
	{
		position: fixed;
		right: 55px;
		top: 100px;
		width: 70px;
		height: 70px;
		cursor: pointer;
	}

		.mantra-instruct{
		position: fixed;
		top: 21%;
		left: 30%;
		color: #426D64;
	}

}

@media screen and (max-width: 1242px) {
	.words{
		position: fixed;
		left: 5%;
		top: 20%; 
		font-size: 4.5em;
		color: #5C99B9;
		text-align: center;
	}
	#home-Icon{
		position: fixed;
		left: 20%;
		top: 15%;
		width: 329px;
		height: 288px;
	}

	.user-access{
		font-size: 2.0em;
		color: #5C99B9;
		position: fixed;
		left: 10%;
		cursor: pointer;
	}

		.home-access{
		width: 85%;
		position: fixed;
		right: 5%;
		top: 15%;
		height: 65%;
	}

		#homeSignUp{
		left: 10%;
		top: 20%;
	}

	#homeLogIn{
		top: 35%;
	}

		.mantra-words{
		color: #5C99B9;
		font-size: 2.5em;
		cursor: pointer;
		display: inline-block;
		padding-left: 15px;
	}

	#charge{
		display: none;
		background-color: rgba( 255, 255, 255, 0.35);
		#border: 1px solid #5c99b9;
		width: 170px;
		height: 130px;
		border-radius: 10px;
		position: absolute;
		left: 45%;
		top: 5%;
		padding-left: 35px;
		box-shadow: 0 12px 16px 0 rgba(84,107,117,0.10), 0 17px 50px 0 rgba(211,224,229,0.09);
		z-index: 2;
	}

	textarea{
		width: 500px;
		height: 95%;
	}

	#attributes{
		left: 5%;
		z-index: 100;
		background-color: white;
		cursor: pointer;
	}

	#sesh{
		top: 55%;
	}

	a:link{
		text-decoration: none;
		border: none;
		border-radius: 2px;
		padding: 20px;
		/*color: #D0108C;*/
		color: #5C99B9;
		background-color: white;
		border: 2px solid #F5E6F1;
		/*background-color: #F5E6F1;*/
		position: fixed;
		top: 65%;
		right:30%;
		font-size: 1.0em;
		cursor: pointer;
	}

	a:hover, a:active{
		  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.10), 0 17px 50px 0 rgba(0,0,0,0.10);
  background-color: #F5E6F1;
  color: #D0108C;
	}

	.mini-mantra{
		color: #5C99B9;
		font-size: 0.85em;
		position: fixed;
		bottom: 10%;
		left: 30%;
	}

		.mantras{
		color: #5C99B9;
		font-size: 4.5em;
		cursor: pointer;
		text-align: center;
	}

	.home-pg{
		position: fixed; 
		bottom: 25%; 
		right: 10%;
		font-size: 0.95em;
	}
	.home-pg-two{
		bottom: 12%;
		font-size: 0.90em;
	}

		#med-tips{
		width: 200px;
		height: 550px;
		border: 1px solid #5c99b9;
		background-color: white;
		position: fixed;
		right: 5px;
		top: 85px;
		padding: 15px 25px;
		color: #5c99b9;
		z-index: 10;
	}

		#about
	{
		position: fixed;
		right: 55px;
		top: 70px;
		width: 60px;
		height: 60px;
	}

		.mantra-instruct{
		position: fixed;
		top: 21%;
		left: 20%;
		color: #426D64;
		font-size: 0.90em;
	}



}