// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	#medInstruction{
		width: 40%;
		margin: 130px auto;
		height: 95%;
		color: #5C99B9;
		text-align: center;
		overflow: auto;
		font-size: 1.0em;
	}

	#start_med{
		border: none;
		border-radius: 2px;
		padding: 20px;
		/*color: #D0108C;*/
		color: #5C99B9;
		background-color: white;
		border: 2px solid #F5E6F1;
		/*background-color: #F5E6F1;*/
		position: fixed;
		top: 75%;
		left:45%;
		font-size: 1.0em;
		cursor: pointer;

	}

	#start_med:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.10), 0 17px 50px 0 rgba(0,0,0,0.10);
  background-color: #F5E6F1;
  color: #D0108C;
}


}

@media screen and (max-width: 1242px) {

		#start_med{
		border: none;
		border-radius: 2px;
		padding: 10px;
		/*color: #D0108C;*/
		color: #5C99B9;
		background-color: white;
		border: 2px solid #F5E6F1;
		/*background-color: #F5E6F1;*/
		position: fixed;
		top: 85%;
		left:37%;
		font-size: 0.90em;
		cursor: pointer;

	}

	#medInstruction{
	width: 65%;
	height: 95%;
	font-size: 0.85em;
	overflow: auto;
	}

}