// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	.teacher-content-mantras{
		width: 650px;
		height: 650px;
		margin-left: 100px;
		margin-top: 65px;
		overflow: auto;
		cursor: pointer;
		display: inline-block;
		background-color: rgba ( 255, 255, 255, 0.45);
		#border: 1px solid #5C99B9;
	}

	.teacher-mantra{
		color: #5C99B9;
		padding:15px 10px;
	}

	.teacher-content{
		position: fixed;
		top: 10%;
		left: 45%;
		width: 250px;
		height: 300px;
		#border: 1px solid #f2b496;
		background-color: rgba( 255, 255, 255, 0.95);
		padding-left: 55px;
		padding-right: 75px;
		padding-top: 10px;
		padding-bottom: 75px;
		border-radius: 5px;
	}

	.add-teacher{
		left: 70%;
	}

		input[type=text], input[type=email], input[type=password], input[type=date], input[type=time] {
		background-color: transparent;
    	border: 0;
    	border-bottom: 2px solid  #5C99B9;
    	color: #5C99B9;;
    	font-size: 18px;
    	letter-spacing: -1px;
    	outline: 0;
    	padding: 5px 20px;
    	text-align: center;
    	transition: all 0.3s;
    	max-width: 100%;
    	letter-spacing: 3px;
    	font-size: 0.95em;
	}

	input[type=submit]{
		background-color:white;
		color: #5C99B9;
		border: 2px solid #5C99B9;
		cursor: pointer;
		padding: 15px 32px;
	}

	.teacher_bttns{
		text-decoration: none;
		cursor: pointer;
		color: #5C99B9;
		font-family: 'Open Sans', sans-serif;
		padding: 10px 15px;
		font-family: 1.4em;
	}

	.logout-teacher{
		position: fixed;
		right: 5%;
		bottom: 5%;
	}


	.teacher_login_box{
		position: fixed;
		width: 450px;
		right: 15%;
		top: 35%;
	}

	#teacher-icon{
		position: fixed;
		top: 15%;
		left: 15%;
	}

}

@media screen and (max-width: 1242px) {
		.teacher-content-mantras{
			height: 250px;
			width: 580px;
		}

		.teacher-content{
			width: 180px;
			top: 45%;
			left: 5%;
		}

		.add-teacher{
			left: 45%;
		}

		.teacher_login_box{
			top: 55%;
			left: 30%;
		}
}
