<%= form_tag charge_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
       <p style="color: #F2B383; font-weight: bold;">$2.99 <br>Per 30min Session</p>
    </label>
  </article>

  <%= hidden_field_tag :mantra, :id => 'mantra' %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Interactive Meditation"
          data-amount="299"
          data-locale="auto"></script>
<% end %>